<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>

        <h1>Sign up using this form</h1>

        <form action="#" th:action="@{/form}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><label for="street">Street</label>: <input type="text" name="street" id="street"/></p>
            <p><label for="postcode">Postcode</label>: <input type="text" name="postcode" id="postcode"/></p>
            <p><label for="city">City</label>: <input type="text" name="city" id="city"/></p>
            <p><label for="photo">Profile photo</label>: <input type="file" name="upload" id="upload"/></p>
            <p>
                <input type="hidden" id="photo" name="photo" />
                <img id="thumbnail" />
            </p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <script>
            document.getElementById("photo").addEventListener("change", function(e) {
                var file = e.target.files[0];
                var reader = new FileReader();
                
                reader.onload = function(f) {
                    document.getElementById("thumbnail").src = f.target.result;
                    document.getElementById("photo").value = f.target.result;
                };
                
                reader.readAsDataURL(file);
            });
        </script>
    </body>
</html>
