<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="header :: common_header(title='Login')"></head>
    <body>
        <header th:replace="header :: navheader"></header>
        <div id="content">
            <h1>Login</h1>
            
            <form action="#" th:action="@{/login}" method="POST">
                <p><label for="email">Email</label>: <input type="text" name="email" id="email" /></p>
                <p><label for="password">Password</label>: <input type="password" name="password" id="password" /></p>
                
                <p>
                    <input type="hidden" name="nextpage" id="nextpage" th:value="${nextpage}" />
                    <input type="submit" value="Submit" />
                </p>
            </form>
        </div>
    </body>
</html>