<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="header :: common_header(title='Attendees')"></head>
    <body>
        <header th:replace="header :: navheader"></header>
        <div id="content">
            <h1>Attendees list</h1>
            
            <ul id="attendeeslist">
                <th:block th:each="user : ${users}">
                    <li th:utext="${user.name}"></li>
                </th:block>
            </ul>
        </div>
    </body>
</html>